body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/images/cover.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: rgb(97, 231, 238); */
  }

  a{
    text-decoration: none;
    color:white;
  }
  
  .container {
    
   
    padding: 20px; 
    border-radius: 8px; 
    background-color:  rgb(184, 122, 6); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    color: white;
  }
 
  
  form {
   
    margin: 10px 10px;
    width: 100%; 
  }
  
  label {
    margin: 10px 10px;
  }
  
  input {
    padding: 5px;
    margin: 10px 10px;
  }
  
  button {
    padding: 10px;
    cursor: pointer;
    margin: 10px 10px;
    width: 60%;
    background-color:  rgb(49, 47, 47);
    border: none;
    color: white;
  }
  
  a {
    text-decoration: none;
    color: blue;
  }